.footer {
  background-color: $action-color;
  
  @at-root #{&}__container {
    @include outer-container;
    
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    max-width: 50em;
  }
  
  @at-root #{&}__buttons {
    display: none;
  }
  
  @at-root #{&}__links {
    @include span-columns(6);
  }
  
  @include media(min-width $breakpoint-mobile) {
    @at-root #{&}__buttons {
      @include span-columns(6);
      
      display: block;
    }
    
    @at-root #{&}__links {
      @include span-columns(3);
    }
  }
  
  @at-root #{&}__link {
    color: $colour-white;
    
    &:hover {
      color: darken($colour-white, 25%);
    }
    
    @at-root #{&}--icon {
      margin-left: .5em;
      margin-right: .5em;
      
      svg * {
        fill: $colour-white;
      }
      
      &:hover {
        svg * {
          fill: darken($colour-white, 25%);
        }
      }
    }
  }
}