.header {
  padding: 1em 0;
  
  @at-root #{&}__logo {
    float: left;
    margin-left: 2em;
  }
  
  @at-root #{&}__image {
    display: block;
    height: 5em;
    margin-bottom: 1em;
  }
  
  @at-root #{&}__navigation-menu {
    float: right;
    margin-top: (4.125em / 2.5);
    margin-right: 2em;

  }
  
  @at-root #{&}__navigation-list {
    float: left;

    @include media(min-width $breakpoint-mobile) {
      float: right;
      margin-top: (4.125em / 2.5);
      margin-right: 2em;
    }
    @include media(max-width $breakpoint-mobile) {
      width: 100%;
    }
  }
}

.homepage__header {
@media only screen and (max-width: $breakpoint-mobile) {
  width: 100%;
  }
}

.homepage__navigation__menu {
  display: none;
  @include media(max-width $breakpoint-mobile) {
    display: block;
    float: right;
  }
}

.homepage__navigation {
  margin-right: 0;
  @include media(max-width $breakpoint-mobile) {
    width: 100%;
    display: none;
  }
}

.navigation__item {
  @media only screen and (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}

.table {
  @media only screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    display: table;
    margin: 0 auto;
  }
}
