.navigation {
  @at-root #{&}__menu {
    display: block;
    
    @include media(min-width $breakpoint-mobile) {
      display: none;
    }
  }
  
  @at-root #{&}__list {
    display: none;
    
    @include media(min-width $breakpoint-mobile) {
      display: block;
    }
  }
  
  @at-root #{&}__item {
    display: inline;
  }
  
  @at-root #{&}__link {
    @include padding(3rem 1rem);
    color: $action-color;
    
    &:hover {
      color: darken($action-color, 25%);
    }
    
    @at-root #{&}--active {
      color: darken($action-color, 25%);
    }
  }
}
