.navigation {
  @at-root #{&}__item {
    display: inline;
  }
  
  @at-root #{&}__link {
    @include padding(.5rem 1rem);
    color: $action-color;
    
    &:hover {
      color: darken($action-color, 25%);
    }
  }
}
