.header {
  padding: 2rem 0;
  
  @at-root #{&}__logo {
    text-align: center;
    margin: 0 auto;
    
    @include media(min-width $breakpoint-mobile) {
      float: left;
      margin-left: 2rem;
    }
  }
  
  @at-root #{&}__image {
    display: inline;
    
    @include media(min-width $breakpoint-mobile) {
      display: block;
      height: 4.125rem;
      margin-bottom: 2rem;
    }
  }
  
  @at-root #{&}__navigation {
    float: right;
    margin-top: (4.125rem / 2.5);
    margin-right: 2rem;
  }
}