{% extends "layouts/page.html" %}

{% block title %}{{ _('Schedule') }} | {{ super() }}{% endblock %}

{% block page_class %}page--schedule{% endblock %}
{% block page_header_class %}page__header--schedule{% endblock %}
{% block page_content_class %}page__content--schedule{% endblock %}

{% block page_header %}
    <h1>{{ _('Schedule')|typogrify|safe }}</h1>
{% endblock %}

{% block page_content %}
    {% for day in schedule.days %}
    <h1 class="schedule__day schedule__day--{{ day.date.isoformat() }}">{{ day.date|format_date('full') }}</h1>

    <table class="schedule schedule--{{ day.date.isoformat() }}">
        <thead class="schedule__head">

            <tr>
                <th class="schedule__time">&nbsp;</th>
                {% for room in schedule.rooms %}
                <th class="schedule__room-name">{{ room.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="schedule__body">
            {% for entry in day.entries %}
            <tr class="schedule__row">
                <th class="schedule__time schedule__time--{{ day.date.isoformat() }}-{{ entry.start_time.strftime('%H-%M-%S') }}">
                    {{ entry.start_time|format_time('short') }}
                </th>

                {% if entry.talks %}
                {% for room in schedule.rooms %}
                {% set talk = get_talk(entry.talks[room.slug]) %}
                <td class="schedule__slot schedule__slot--room-{{ room.slug }} schedule__slot--time-{{ day.date.isoformat() }}-{{ entry.start_time.strftime('%H-%M-%S') }}" {% if talk.title and room.slug == 'tutorial' %}rowspan="2"{% endif %}>
                    <a href="{% if talk.link %}{{ talk.link }}{% else %}#{% endif %}" class="schedule__slot-link">
                        <span class="schedule__slot-title">
                            {% for t in talk.title %}{{ t }}{% endfor %}
                        </span>
                        <span class="schedule__slot-presenter">
                            {% for s in talk.speakers %}{{ s }}{% endfor %}
                        </span>
                    </a>
                </td>
                {% endfor %}
                {% else %}
                <td class="schedule__slot schedule__slot--time-{{ day.date.isoformat() }}-{{ entry.start_time.strftime('%H-%M-%S') }}" colspan="4">
                    <span class="schedule__slot-link">
                        <span class="schedule__slot-title">
                            {{ entry.title }}
                        </span>
                        {% if entry.content %}
                        <span class="schedule__slot-content">
                            {{ entry.content }}
                        </span>
                        {% endif %}
                    </span>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

    <div class="page__section">
        <h1 class="schedule__day schedule__day--2016-11-14 schedule__day--2016-11-15">{{ _('14 & 15 November, 2016') }}</h1>

        <h2>{{ _('PyCon Canada Sprints') }}</h2>

        <p style="text-align:center"><a href="https://github.com/pyconca/2016-wiki/wiki/Sprints" class="button button--red">{{ _('Find or Add a Project to the Wiki') }}</a></p>

        <p>{% trans %}PyCon Canada Development Sprints are two days of intensive learning and development on an open source project of your choice, in a team environment. It's a time to come together with colleagues, old and new, to share what you've learned and apply it to an open source project.{% endtrans %}</p>

        <p>{% trans %}PyCon provides the space and infrastructure (network, power, tables & chairs); you bring your skills, humanity, and brainpower (oh! and don't forget your computer).{% endtrans %}</p>
    </div>
{% endblock %}
