{% extends "layouts/page.html" %}

{% block title %}{{ _('Schedule') }} | {{ super() }}{% endblock %}

{% block page_class %}page--schedule{% endblock %}
{% block page_header_class %}page__header--schedule{% endblock %}
{% block page_content_class %}page__content--schedule{% endblock %}

{% block page_header %}
    <h1>{{ _('Schedule')|typogrify|safe }}</h1>
{% endblock %}

{% block page_content %}
    <div class="widget-schedule"></div>

    {% for day in schedule.days %}
    <h1 class="schedule__day schedule__day--{{ day.date.isoformat() }}">{{ day.date|format_date('full') }}</h1>

    <table class="schedule schedule--{{ day.date.isoformat() }}">
        <thead class="schedule__head">

            <tr>
                <th class="schedule__time">&nbsp;</th>
                {% for room in schedule.rooms %}
                <th class="schedule__room-name">{{ room.name|typogrify|safe }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="schedule__body">
            {% for entry in day.entries %}
            <tr class="schedule__row">
                <th class="schedule__time schedule__time--start-{{ day.date.isoformat() }}-{{ entry.start_time.strftime('%H-%M-%S') }} schedule__time--end-{{ day.date.isoformat() }}-{{ entry.end_time.strftime('%H-%M-%S') }}">
                    {{ entry.start_time|format_time('short')|typogrify|safe }}
                </th>

                {% if entry.talks %}
                {% for room in schedule.rooms %}
                {% set talk = get_talk(entry.talks[room.slug]) %}
                <td class="schedule__slot schedule__slot--room-{{ room.slug }} schedule__slot--time-{{ day.date.isoformat() }}-{{ entry.start_time.strftime('%H-%M-%S') }}" {% if talk.rowspan %}rowspan="{{ talk.rowspan[0] }}"{% endif %}>
                    <a href="{% if talk.link %}{{ talk.link }}{% else %}#{% endif %}" class="schedule__slot-link">
                        <span class="schedule__slot-title">
                            {% for t in talk.title %}{{ t|typogrify|safe }}{% endfor %}
                        </span>
                        <span class="schedule__slot-presenter">
                            {% for s in talk.speakers %}{{ s|typogrify|safe }}{% endfor %}
                        </span>
                    </a>
                </td>
                {% endfor %}
                {% else %}
                <td class="schedule__slot schedule__slot--time-{{ day.date.isoformat() }}-{{ entry.start_time.strftime('%H-%M-%S') }}" colspan="4">
                    {% if entry.link %}
                    <a href="{{ url_for('schedule.talk', slug=entry.link) }}" class="schedule__slot-link">
                    {% else %}
                    <span class="schedule__slot-link">
                    {% endif %}
                        <span class="schedule__slot-title">
                            {{ entry.title|typogrify|safe }}
                        </span>
                        {% if entry.content %}
                        <span class="schedule__slot-content">
                            {{ entry.content|typogrify|safe }}
                        </span>
                        {% endif %}
                    {% if entry.link %}
                    </a>
                    {% else %}
                    </span>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

    <div class="page__section">
        <h1 class="schedule__day schedule__day--2016-11-14 schedule__day--2016-11-15">{{ _('14 &amp; 15 November, 2016') }}</h1>

        <h2>{{ _('PyCon Canada Sprints')|typogrify|safe }}</h2>

        <p style="text-align:center"><a href="https://github.com/pyconca/2016-wiki/wiki/Sprints" class="button button--red">{{ _('Find or Add a Project to the Wiki') }}</a></p>

        <p>{% trans %}PyCon Canada Development Sprints are two days of intensive learning and development on an open source project of your choice, in a team environment. It's a time to come together with colleagues, old and new, to share what you've learned and apply it to an open source project.{% endtrans %}</p>

        <p>{% trans %}PyCon provides the space and infrastructure (network, power, tables &amp; chairs); you bring your skills, humanity, and brainpower (oh! and don't forget your computer).{% endtrans %}</p>

        <h3>{{ _('Directions') }}</h3>

        <p>{% trans %}Code sprints will be held on the 6th floor of The Ryerson Digital Media Zone, located at 10 Dundas Street East (one block east of the PyCon venue, on the north east corner of Yonge and Dundas).{% endtrans %}</p>

        <p>{% trans %}From the ground floor, get to the 6th floor using the elevators to the right of the Starbucks, or from the fourth floor take the elevators inside the entrance to Spring Sushi (and across from the Ciniplex theater entrance).{% endtrans %}</p>

        <p>{% trans %}Sprints will be in room 631, and there will be obvious signage once you get off the elevators.{% endtrans %}</p>
    </div>

    {% block extra_code %}
        <link rel="stylesheet" href="{{ url_for('static', filename='widgets/schedule/app.css') }}"/>
        <script src="{{ url_for('static', filename='widgets/schedule/app.js') }}"></script>
    {% endblock %}
{% endblock %}
