{% extends "layouts/page.html" %}

{% block title %}{{ meta.title[0] }} with {{ meta.speakers[0] }} | {{ super() }}{% endblock %}

{% block page_class %}page--talk{% endblock %}
{% block page_header_class %}page__header--talk{% endblock %}
{% block page_content_class %}page__content--talk{% endblock %}

{% block page_header %}
<h1>{{ meta.title[0]|typogrify|safe }} <em>with {{ meta.speakers[0]|typogrify|safe }}</em></h1>
<p class="lead">{{ meta.date[0]|format_date('EEE')|typogrify|safe }} {{ meta.start_time[0]|format_time('H:mm')|typogrify|safe }} | Rm. {{ meta.rooms[0] }}</p>
{% endblock %}

{% block page_content %}
<div class="page__section talk">
    <div class="page__row">
        <div class="{% if meta.photo %}page__col-8{% else %}page__col-12{% endif %} page__col--left">
            {% if meta.rooms[0] == 'Tutorial' %}
            <p style="text-align:center"><a href="https://github.com/pyconca/2016-wiki/wiki/Tutorials" class="button button--red">Sign Up for {% for speaker in meta.speakers %}{{ speaker }}'s{% endfor %} Tutorial</a></p>
            {% endif %}
            {% if meta.youtube %}
            <div class="video">
                <iframe allowfullscreen id="ytplayer" type="text/html" src="https://www.youtube.com/embed/{{ meta.youtube[0] }}" frameborder="0"></iframe>
                <p><a href="https://www.youtube.com/watch?v={{ meta.youtube[0] }}">{{ _('Watch on YouTube') }}</a></p>
            </div>
            {% endif %}
            {{ content|safe }}
        </div>

        {% if meta.photo %}
        <div class="page__col-4 page__col--right">
            {% if meta.photo %}
            <img src="https://2016.pycon.ca/static/images/speaker_photos/{{ meta.photo[0] }}" class="talk__image">
            {% endif %}

            {% if meta.twitter or meta.github %}
            <p>
                {% if meta.twitter %}
                <a href="https://twitter.com/{{ meta.twitter[0] }}" title="{% for speaker in meta.speakers %}{{ speaker }}{% endfor %} Twitter Profile">Twitter</a>
                {% endif %}
                {% if meta.github %}
                <a href="https://github.com/{{ meta.github[0] }}" title="{% for speaker in meta.speakers %}{{ speaker }}{% endfor %} GitHub Profile">GitHub</a>
                {% endif %}
            </p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<div class="page__section">
    <p>
        <a href="{{ url_for('schedule.talk_ics', slug=slug) }}" title="iCalender File"><img data-file-extension="ics" data-src="{{ url_for('static', filename='images/icon-file.svg') }}" class="iconic iconic-md" alt="iCalendar File" /></a>

        <a href="{{ url_for('schedule.talk_json', slug=slug) }}" title="JSON File"><img data-file-extension="json" data-src="{{ url_for('static', filename='images/icon-file.svg') }}" class="iconic iconic-md" alt="JSON File" /></a>
    </p>
</div>
{% endblock %}

{% block schema_org %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Event",
    "name": "{{ meta.title[0] }} at {{ _('PyCon Canada 2016') }}",
    "description": "{{ _('Join your fellow Pythonistas for the fourth annual PyCon Canada, a weekend of talks, activities, fun and code!') }}",
    "image": "https://2016.pycon.ca{{ url_for('static', filename='images/pycon-2015-mc-paul-by-shiroyuki-facebook.jpg') }}",
    "url": "https://2016.pycon.ca{{ url_for(request.url_rule.endpoint, **request.view_args) }}",
    "startDate": "{{ meta.date[0] }}T{{ meta.start_time[0] }}",
    "endDate": "{{ meta.date[0] }}T{{ meta.end_time[0] }}",
    "location": {
        "@type": "Place",
        "name": "Ted Rogers School of Management",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "55 Dundas Street West",
            "postalCode": "M5G 2C3",
            "addressLocality": "Toronto",
            "addressRegion": "Ontario",
            "addressCountry": "Canada"
        }
    },
    "performer": {
        "@type": "Person",
        "name": "{{ meta.speakers[0] }}"
    },
    "offers": {
        "@type": "Offer",
        "url": "https://www.eventbrite.com/e/pycon-canada-2016-tickets-27545680873"
    }
}
</script>
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@pyconca">
<meta name="twitter:creator" content="@pyconca">
<meta name="twitter:title" content="{{ meta.title[0] }} with {{ meta.speakers[0] }} at {{ _('PyCon Canada 2016') }}">
<meta name="twitter:description" content="{{ _('Join your fellow Pythonistas for the fourth annual PyCon Canada, a weekend of talks, activities, fun and code!') }}">
<meta name="twitter:image" content="https://2016.pycon.ca{{ url_for('static', filename='images/pycon-2015-mc-paul-by-shiroyuki-twitter-card.jpg') }}">
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ meta.title[0] }} with {{ meta.speakers[0] }} at {{ _('PyCon Canada 2016') }}">
<meta property="og:description" content="{{ _('Join your fellow Pythonistas for the fourth annual PyCon Canada, a weekend of talks, activities, fun and code!') }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://2016.pycon.ca{{ url_for(request.url_rule.endpoint, **request.view_args) }}">
<meta property="og:image" content="https://2016.pycon.ca{{ url_for('static', filename='images/pycon-2015-mc-paul-by-shiroyuki-facebook.jpg') }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endblock %}
