{% extends "layouts/page.html" %}

{% block title %}{{ meta.title|join(' ') }} with {% for speaker in meta.speakers %}{{ speaker }}{% endfor %} | {{ super() }}{% endblock %}

{% block page_class %}page--talk{% endblock %}
{% block page_header_class %}page__header--talk{% endblock %}
{% block page_content_class %}page__content--talk{% endblock %}

{% block page_header %}
<h1>{% for t in meta.title %}{{ meta.title|join(' ') }}{% endfor %}</h1>
<p class="lead">{% for speaker in meta.speakers %}{{ speaker }}{% endfor %}</p>
{% endblock %}

{% block page_content %}
<div class="page__section talk">
    <div class="page__row">
        <div class="{% if meta.photo %}page__col-8{% else %}page__col-12{% endif %} page__col--left">
            {% if meta.rooms[0] == 'Tutorial' %}
            <p style="text-align:center"><a href="https://github.com/pyconca/2016-wiki/wiki/Tutorials" class="button button--red">Sign Up for {% for speaker in meta.speakers %}{{ speaker }}'s{% endfor %} Tutorial</a></p>
            {% endif %}
    
            {{ content|safe }}
        </div>
        
        {% if meta.photo %}
        <div class="page__col-4 page__col--right">
            {% if meta.photo %}
            <img src="/static/images/speaker_photos/{{ meta.photo|join('') }}" class="talk__image">
            {% endif %}
            
            {% if meta.twitter or meta.github %}
            <p>
                {% if meta.twitter %}
                <a href="https://twitter.com/{{ meta.twitter|join('') }}" title="{% for speaker in meta.speakers %}{{ speaker }}{% endfor %} Twitter Profile">Twitter</a>
                {% endif %}
                {% if meta.github %}
                <a href="https://twitter.com/{{ meta.github|join('') }}" title="{% for speaker in meta.speakers %}{{ speaker }}{% endfor %} GitHub Profile">GitHub</a>
                {% endif %}
            </p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<div class="page__section">
    <p>
        <a href="{{ url_for('schedule.talk_ics', slug=slug) }}" title="iCalender File"><img data-file-extension="ics" data-src="{{ url_for('static', filename='images/icon-file.svg') }}" class="iconic iconic-md" alt="iCalendar File" /></a>
        
        <a href="{{ url_for('schedule.talk_json', slug=slug) }}" title="JSON File"><img data-file-extension="json" data-src="{{ url_for('static', filename='images/icon-file.svg') }}" class="iconic iconic-md" alt="JSON File" /></a>
    </p>
</div>
{% endblock %}
