{% extends "layouts/page.html" %}

{% block title %}{{ meta.title|join(' ') }} with {% for speaker in meta.speakers %}{{ speaker }}{% endfor %} | {{ super() }}{% endblock %}

{% block page_class %}page--talk{% endblock %}
{% block page_header_class %}page__header--talk{% endblock %}
{% block page_content_class %}page__content--talk{% endblock %}

{% block page_header %}
<h1>{% for t in meta.title %}{{ meta.title|join(' ') }}{% endfor %}</h1>
<p class="lead">{% for speaker in meta.speakers %}{{ speaker }}{% endfor %}</p>
{% endblock %}

{% block page_content %}
<div class="page__section">
    {{ content|safe }}
</div>

<div class="page__section">
    <p>
        <a href="{{ url_for('schedule.talk_ics', slug=slug) }}" title="iCalender File"><img data-file-extension="ics" data-src="{{ url_for('static', filename='images/icon-file.svg') }}" class="iconic iconic-md" alt="iCalendar File" /></a>
        
        <a href="{{ url_for('schedule.talk_json', slug=slug) }}" title="JSON File"><img data-file-extension="json" data-src="{{ url_for('static', filename='images/icon-file.svg') }}" class="iconic iconic-md" alt="JSON File" /></a>
    </p>
</div>
{% endblock %}
