// Typography
// ----------

$font-stack-system: $helvetica;

$font-size-base: 16px;

$font-size-responsive: (
  544px: 17px,
  768px: 18px,
  992px: 19px,
  1200px: 20px
);

$ms-base: 1rem;
$ms-ratio: 1.2;

// Colours
// -------

$colour-white: #FFF;
$colour-blue: rgb(36, 156, 215);
$colour-red: rgb(243,153,148);
$colour-teal: rgb(148,243,225);
$colour-yellow: rgb(243,240,148);

$action-color: #208cc1;

// Breakpoints
// -----------

$breakpoint-mobile: 768px;

// Bitters
// -------

// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

