// Typography
$font-stack-system: $helvetica;

// Colours
$colour-white: #FFF;
$colour-blue: rgb(36, 156, 215);
$colour-red: rgb(243,153,148);
$colour-teal: rgb(148,243,225);
$colour-yellow: rgb(243,240,148);

// Breakpoints
$breakpoint-mobile: 768px;
