@charset "UTF-8";
.widget-schedule {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, system, "Helvetica Neue", "Helvetica", "Ubuntu", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0; }
  .widget-schedule h3 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 32px 0;
    border-top: 5px solid #666; }
  .widget-schedule .day {
    position: relative; }
    .widget-schedule .day .start-timestamp {
      display: none; }
    .widget-schedule .day .time-label {
      position: absolute;
      color: #999;
      left: 0;
      right: 0;
      padding: 5px;
      border-top: 1px dashed #eee; }
      .widget-schedule .day .time-label:before {
        content: attr(data-time); }
    .widget-schedule .day .sessions {
      position: absolute;
      top: 0;
      left: 72px;
      right: 0;
      bottom: 0; }
    .widget-schedule .day .session {
      position: absolute;
      border: 1px solid #2196F3;
      background-color: #E3F2FD;
      cursor: pointer;
      overflow: hidden; }
      .widget-schedule .day .session * {
        cursor: pointer; }
      .widget-schedule .day .session .title {
        padding: 8px;
        font-weight: 700; }
      .widget-schedule .day .session .room {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        margin: 0;
        font-size: 14px;
        background-color: #2196F3;
        color: #fff; }
      .widget-schedule .day .session .speakers {
        font-size: 14px;
        padding: 8px; }
      .widget-schedule .day .session .period {
        display: none; }
      .widget-schedule .day .session.hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
        background-color: #1976D2;
        border: #1976D2;
        color: #fff; }
        .widget-schedule .day .session.hover .room {
          background-color: #1976D2; }
      .widget-schedule .day .session[data-room="general"] {
        border-color: #689F38;
        background-color: #DCEDC8; }
        .widget-schedule .day .session[data-room="general"] .title {
          font-size: 36px;
          font-weight: 400; }
        .widget-schedule .day .session[data-room="general"] .room {
          display: none;
          background-color: #689F38; }
        .widget-schedule .day .session[data-room="general"] .period {
          color: #000;
          text-align: center; }
        .widget-schedule .day .session[data-room="general"].hover {
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
          background-color: #558B2F;
          border: #558B2F;
          color: #fff; }
          .widget-schedule .day .session[data-room="general"].hover .room {
            background-color: #558B2F; }
      .widget-schedule .day .session[data-room="tutorial"] {
        border-color: #9C27B0;
        background-color: #F3E5F5; }
        .widget-schedule .day .session[data-room="tutorial"] .room {
          background-color: #9C27B0; }
        .widget-schedule .day .session[data-room="tutorial"].hover {
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
          background-color: #4527A0;
          border: #4527A0;
          color: #fff; }
          .widget-schedule .day .session[data-room="tutorial"].hover .room {
            background-color: #4527A0; }

@media (max-width: 720px) {
  .widget-schedule .day {
    height: auto !important; }
    .widget-schedule .day .start-timestamp {
      display: block;
      padding: 8px 0;
      text-align: center;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
      font-size: 24px; }
    .widget-schedule .day .time-label {
      display: none; }
    .widget-schedule .day .sessions {
      position: static;
      border-top: 3px solid #666; }
    .widget-schedule .day .session {
      position: static;
      width: auto !important;
      height: auto !important;
      border: none;
      background: none;
      border-bottom: 1px solid #ddd;
      padding: 0 8px; }
      .widget-schedule .day .session .title {
        padding: 2px 0;
        color: #2196F3; }
      .widget-schedule .day .session .room {
        background: none;
        color: #666;
        padding: 8px 0 0 0; }
      .widget-schedule .day .session .speakers {
        font-size: 14px;
        padding: 0 0 8px 0; }
      .widget-schedule .day .session .period {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px; }
        .widget-schedule .day .session .period .start {
          display: inline-block;
          padding: 2px 2px 2px 4px;
          background-color: #ccc;
          color: #fff; }
          .widget-schedule .day .session .period .start:after {
            content: ' → '; }
        .widget-schedule .day .session .period .end {
          display: inline-block;
          padding: 2px 4px 2px 4px;
          background-color: #999;
          color: #fff;
          font-weight: 700; }
      .widget-schedule .day .session.hover {
        z-index: 0 !important;
        box-shadow: none;
        background: none;
        color: #000;
        border-bottom: 1px solid #ddd; }
        .widget-schedule .day .session.hover .room {
          background: none !important; }
      .widget-schedule .day .session[data-room="general"] {
        border-bottom: 1px solid #ddd;
        background: none; }
        .widget-schedule .day .session[data-room="general"] .title {
          font-size: 24px;
          font-weight: 700;
          padding: 8px 0;
          text-align: center;
          color: #689F38; }
        .widget-schedule .day .session[data-room="general"] .room {
          background: none !important; }
        .widget-schedule .day .session[data-room="general"].hover {
          box-shadow: none;
          background: none;
          color: #000; }
          .widget-schedule .day .session[data-room="general"].hover .room {
            background: none !important; }
      .widget-schedule .day .session[data-room="tutorial"] {
        border-bottom: 1px solid #ddd;
        background: none; }
        .widget-schedule .day .session[data-room="tutorial"] .title {
          color: #673AB7; }
        .widget-schedule .day .session[data-room="tutorial"] .room {
          background: none !important; }
        .widget-schedule .day .session[data-room="tutorial"].hover {
          box-shadow: none;
          background: none;
          color: #000; }
          .widget-schedule .day .session[data-room="tutorial"].hover .room {
            background: none !important; } }

/*# sourceMappingURL=app.css.map */