{% extends "layouts/page.html" %}

{% block page_class %}page--about{% endblock %}
{% block page_header_class %}page__header--about{% endblock %}
{% block page_content_class %}page__content--about{% endblock %}

{% block page_header %}
    <h1>{{ _("PyCon Canada is an initiative to strengthen the Canadian Python community.") }}</h1>
{% endblock %}

{% block page_content %}
    {{ content|safe }}
    
    <div class="page__row">
        <div class="page__col page__col--left">
            <h2>{{ _("Join the Conversation") }}</h2>
            
            <p>{{ _('Be sure to use <a href="https://twitter.com/intent/tweet?button_hashtag=PyConCA2016">#PyConCA2016</a>. We love hearing from our community members!') }}</p>
            
            <h2>Key Contacts</h2>
            
            <ul>
                <li>The organizing committee can be contacted at <a href="mailto:organizers@pycon.ca">organizers@pycon.ca</a>.</li>
                <li>The board can be contacted privately at <a href="mailto:board@pycon.ca">board@pycon.ca</a>.</li>
                <li>You can also find us on: <a href="https://github.com/pyconca/">github.com/pyconca/</a>.</li>
            </ul>
        </div>
        
        <div class="page__col page__col--right">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/PyConCA2016" data-widget-id="765372112991358978">#PyConCA2016 Tweets</a>
        </div>
    </div>
    
    <div class="page__row">
        <div class="page__col page__col--left">
            <h2>{{ _('Organisers') }}</h2>
    
            {% for person in team['organisers'] %}
            <ul>
                <li><a href="{{ person.link }}">{{ person.name }}</a></li>
            </ul>
            {% endfor %}
        </div>
        
        <div class="page__col page__col--right">
            <h2>{{ _('Volunteers') }}</h2>
    
            {% for person in team['volunteers'] %}
            <ul>
                <li><a href="{{ person.link }}">{{ person.name }}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>
    
    <div class="page__about-sponsors">
        <h2>{{ _('Sponsors') }}</h2>
        
        {% for level, values in sponsors.items() %}
        {% for date, sponsor in values.items() %}
        <a href="{{ sponsor[g.lang_code].url }}" title="{{ sponsor[g.lang_code].name }}" class="page__about-sponsors-link">
            <img src="{{ url_for('static', filename=sponsor.logo) }}" class="page__about-sponsors-logo" alt="{{ sponsor[g.lang_code].name }}">
        </a>
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
