{% extends "layouts/page.html" %}

{% block title %}{{ _('Code of Conduct') }} | {{ super() }}{% endblock %}

{% block page_class %}page--code-of-conduct{% endblock %}
{% block page_header_class %}page__header--code-of-conduct{% endblock %}
{% block page_content_class %}page__content--code-of-conduct{% endblock %}


{% block page_header %}
<h1>{{ _('PyCon Canada is committed to providing a safe and welcoming atmosphere for all attendees.') }}</h1>
{% endblock %}

{% block page_content %}
<div class="page__section">
    {{ content|safe }}
</div>
{% endblock %}
