{% extends "layouts/base.html" %}

{% block body_class %}body--homepage{% endblock %}

{% block body %}
<div class="homepage">
    <div class="homepage__wrapper">
        <div class="homepage__header">
            <a href="#" class="navigation__menu header__navigation-menu homepage__navigation__menu" id="js-navigation-button">MENU</a>
            <div class="table">
                <ul class="navigation homepage__navigation" id="js-navigation-menu">
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('pages.index') }}">{{ _('Home') }}</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('pages.about') }}">{{ _('About') }}</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('pages.venue') }}">{{ _('Venue') }}</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('pages.volunteer') }}">{{ _('Volunteer') }}</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('pages.sponsors') }}">{{ _('Sponsors') }}</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="{{ url_for('schedule.index') }}">{{ _('Schedule') }}</a></li>
                </ul>
            </div>
        </div>

        <div class="homepage__content">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="PyCon Canada" class="homepage__logo">

            <h2 class="homepage__heading">{{ _('12-15 November 2016') }}, {{ _('Toronto') }}</h2>

            <p class="homepage__copy">{{ _('12-13 November Conference<br/>14-15 November Sprints') }}</p>

            <!--
            <p class="homepage__copy">{{ _('Join your fellow Pythonistas for the fourth annual PyCon Canada, a weekend of talks, activities, fun and code!') }}</p>
            -->

            <p class="homepage__button">
                <a href="{{ url_for('schedule.index') }}" class="button button--primary">{{ _('View the schedule') }}</a>

                <a href="http://eepurl.com/bs9mG9" class="button button--secondary">{{ _('Join our mailing list') }}</a>
            </p>
        </div>

        {% if sponsors %}
        <div class="homepage__sponsors">
            {% for level in sponsors %}
            {% for sponsor in level.entries %}
            <a href="{{ sponsor[g.lang_code].url }}" title="{{ sponsor[g.lang_code].name }}" class="homepage__sponsor-link">
                <img src="{% if sponsor.logo_dark %}{{ url_for('static', filename=sponsor.logo_dark) }}{% else %}{{ url_for('static', filename=sponsor.logo) }}{% endif %}" class="homepage__sponsor-logo" alt="{{ sponsor[g.lang_code].name }}">
            </a>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="homepage__footer">
            <p>
                {% if g.lang_code=='fr' %}
                <a href="{{ url_for(request.url_rule.endpoint, lang_code='en') }}" hreflang="en">English</a>
                {% else %}
                <a href="{{ url_for(request.url_rule.endpoint, lang_code='fr') }}" hreflang="fr">Fran&ccedil;ais</a>
                {% endif %}
                &bull;
                <a href="{{ url_for('pages.code_of_conduct') }}">{{ _('Code of Conduct') }}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
