{% extends "layouts/page.html" %}

{% block title %}{{ _('Venue') }} | {{ super() }}{% endblock %}

{% block page_class %}page--venue{% endblock %}
{% block page_header_class %}page__header--venue{% endblock %}
{% block page_content_class %}page__content--venue{% endblock %}

{% block page_header %}
<h1>{{ _('Venue') }}</h1>
{% endblock %}

{% block page_content %}
<div class="page__section">
    <div class="page__row">
        <div class="page__col">
            <h2>{{ _('Location') }}</h2>
        
            <p>{% trans %}This year PyCon&nbsp;Canada is taking place 12-13 November 2016 in Toronto, Ontario, Canada at the <a href="http://www.ryerson.ca/tedrogersschool/">The Ted Rogers School of Management</a> at Ryerson&nbsp;University.{% endtrans %}</p>
        </div>
    
        <div class="page__col">
            <div class="venue-page__map" id="js-venue-map"></div>
        </div>
    </div>
</div>

<div class="page__section">
    {{ content.travel|safe }}
</div>

<div class="page__section">
    {{ content.hotel|safe }}
</div>

<div class="page__section">
    {{ content.public_transit|safe }}
</div>

<div class="page__section">
    {{ content.toronto|safe }}
</div>
{% endblock %}
