.about-page {
  // @at-root #{&}__sponsors {}

  @at-root #{&}__sponsor-link,
           #{&}__sponsor-logo {
    height: 10rem;
    width: 10rem;
  }

  @at-root #{&}__sponsor-logo {
    @include filter(none);

    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;

    &:hover {
      @include filter(grayscale(75%));
    }
  }
  
  @at-root #{&}__twitter-timeline {
    display: none;
    
    @include media(min-width $breakpoint-mobile) {
      display: block;
    }
  }
}
