.body--homepage {
  margin: 0;
  height: 100%;
  background-color: rgb(51,51,51);
  background-size: cover;
  background-position: top center;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  
  @include media(max-width $breakpoint-mobile) {
    background-image: url('images/pycon-2015-mc-paul-by-shiroyuki-mobile.jpg');
    background-position: top right;
  }
  
  @include media(min-width $breakpoint-mobile) {
    background-image: url('images/pycon-2015-mc-paul-by-shiroyuki-desktop.jpg');
  }
  
  // TODO Added media queries for HDPI images.
}

.homepage {
  @include background(radial-gradient(ellipse farthest-corner at 45px 45px, rgba(51,51,51,.5) 0%, rgba(0, 0, 255, 0) 50%, rgba(51,51,51,.5) 95%));

  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100vh;
  background-color: rgba(51,51,51,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);

  a {
    color: #fff;
    
    &:hover {
      color: #ccc;
    }
  }

  @at-root #{&}__wrapper {
    @include align-items(stretch);
    @include align-content(center);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-around);

    min-height: 100vh;
  }
  
  @at-root #{&}__header,
           #{&}__content,
           #{&}__sponsors,
           #{&}__footer {
    max-width: 700px;
    margin: 0 auto;
  }
  
  @at-root #{&}__logo {
    width: 250px;
  }
  
  @at-root #{&}__heading {
    font-size: modular-scale(1);
  }
  
  @at-root #{&}__copy {
    font-size: modular-scale(1);
  }
  
  // @at-root #{&}__button {}
  
  @at-root #{&}__sponsors {
    background-color: rgba(51, 51, 51, .5);
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  @at-root #{&}__sponsor-title {
    margin: 0;
  }
  
  @at-root #{&}__sponsor-link,
           #{&}__sponsor-logo {
    max-height: 10em;
    width: 10em;
    vertical-align: middle;
  }
  
  @at-root #{&}__sponsor-logo {
    @include filter(none);

  @at-root #{&}__logo {
    @include filter(none);

    background-color: #fff;
    border-radius: 5px;
    padding: .5em .25em;
    cursor: pointer;

    &:hover {
      @include filter(grayscale(75%));
    }
  }
}
