.page {
  background-color: #fff;
  clear: both;
  padding-bottom: 1em;
  
  @at-root #{&}__header {
    align-items: center;
    background-color: $colour-blue;
    background-position: right;
    display: flex;
    justify-content: center;
    min-height: 15rem;
    padding: 2rem;
    margin-bottom: 1rem;
    
    @include media(min-width $breakpoint-mobile) {
      background-position: left;
      background-size: cover;
    }
    
    h1,
    h2,
    h3 {
      font-size: modular-scale(2);
    }
  }
  
  @at-root #{&}__header--sponsors,
           #{&}__header--about,
           #{&}__header--venue {
    @include media(min-width $breakpoint-mobile) {
      justify-content: flex-end;
    }
  }
  
  @at-root #{&}__header--sponsors {
    background: url('images/pycon-2015-crowd-by-shiroyuki-orig.jpg');
    background-size: cover;
    background-position: center;
  }
  
  @at-root #{&}__header--about {
    background: url('images/pycon-2015-crowd-by-shiroyuki-orig.jpg');
    background-size: cover;
    background-position: center;
  }
  
  @at-root #{&}__header--venue {
    background: url('images/ryerson-university-ted-rogers-school-of-management-desktop.jpg');
    background-size: cover;
    background-position: center;
  }
  
  @at-root #{&}__header-content {
    color: #fff;
    max-width: 20em;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    
    @include media(min-width $breakpoint-mobile) {
      text-align: left;
    }
    
    a {
      color: #fff;
      text-decoration: underline;
      
      &:hover {
        color: darken(#fff, 15%);
      }
    }
  }
  
  @at-root #{&}__content {
    @include media(max-width $breakpoint-mobile) {
      padding: 0 10px;
    }
  }
  
  @at-root #{&}__section {
    margin-top: 1em;
    margin-bottom: 1em;
    margin: 0 auto;
    max-width: 50em;
    
    @at-root #{&}--border-bottom {
      border-bottom: $base-border;
    }
    
    @at-root #{&}--full-width {
      max-width: 100%;
    }
  }
  
  @at-root #{&}__row {
    @include outer-container;
    
    margin-bottom: 1rem;
  }
  
  @at-root #{&}__col,
           #{&}__col-8,
           #{&}__col-4 {
    @include span-columns(12);
    
    @at-root #{&}--left {
      @include omega();
    }
  }
  
  @include media(min-width $breakpoint-mobile) {
    @at-root #{&}__col {
      @include span-columns(6);
    }
    
    @at-root #{&}__col-12 {
      @include span-columns(12);
    }
    
    @at-root #{&}__col-8 {
      @include span-columns(8);
    }
    
    @at-root #{&}__col-4 {
      @include span-columns(4);
    }
  }
  
  @at-root #{&}__thin {
    max-width: 25em;
    margin: 0 auto;
  }
}
