.schedule {
  table-layout: fixed;
  width: 100%;
  min-width: 750px;
  background-color: $colour-white;
  
  @at-root #{&}__day {
    @extend h1;
    text-align: center;
  }

  @at-root #{&}__time {
    padding-left: 1em;
    padding-right: 1em;
    text-align: right;
    width: 15%;
  }

  @at-root #{&}__room-name,
           #{&}__slot {
    text-align: center;
    width: 21.25%;
  }

  @at-root #{&}__row {
    &:hover {
      background-color: $colour-blue;
      color: $colour-white;
      
      .schedule__slot-presenter,
      .schedule__slot-title,
      .schedule__slot-content {
        color: $colour-white;
      }
      
      .schedule__slot-title {
        color: $colour-yellow;
      }
    }
  }

  @at-root #{&}__slot {
    color: #000;
    padding: .5em 1em;
    
    &:hover {
      background-color: darken($colour-blue, 5);
    }
    
    @at-root #{&}-link {
      padding: 0.75em 0;
      height: 100%;
      width: 100%;
    }
    
    @at-root #{&}-title,
             #{&}-presenter {
      display: block;
    }
    
    @at-root #{&}-presenter {
      color: #000;
    }
  }
}
