.page__header--talk .page__header-content {
  max-width: 40em;
}

.talk {
  @at-root #{&}__video-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: percentage(9 / 16);
    position: relative;
  }

  @at-root #{&}__video-embed {
    @include position(absolute, 0 null null 0);
    @include size(100%);

    border: 0;
  }
}
